---
import Layout from "../layouts/BlogPost.astro";

const pageTitle = "About";
---

<Layout
  title={pageTitle}
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
>
  <p>Hitomisiri.js</p>
</Layout>
