---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, pubDate, updatedDate } = Astro.props;
---

<BaseLayout>
  <article>
    <div class="prose">
      <div class="title">
        <h1>{title}</h1>
        <div class="date">
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <div class="last-updated-on">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
        <hr />
      </div>
      <slot />
    </div>
  </article>
</BaseLayout>

<style>
  .prose {
    width: 720px;
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 1em;
    color: var(--text-primary);
  }
  .title {
    margin-bottom: 1em;
    padding: 1em 0;
    text-align: center;
    line-height: 1;
  }
  .title h1 {
    margin: 0 0 0.5em 0;
    color: var(--text-ceramic);
  }
  .date {
    margin-bottom: 0.5em;
    color: var(--text-secondary);
  }
  .last-updated-on {
    font-style: italic;
    color: var(--text-muted);
  }
  .prose hr {
    border-color: var(--bg-accent-dark);
  }
</style>
